# Verification - Customer Connection to the ALB

## HTTP Request fails

Perform an HTTP request towards the Wordpress URL by clicking on the Wordpress button available inside the POD portal assigned to you, as depicted below.

```{figure} images/wordpress.png
---
align: center
---
POD Portal
```

You will notice that the Wordpress app is **down**.

```{figure} images/gateway-timeout2.png
---
align: center
---
Wordpress URL
```


